.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.navbar-default {
    background-color:#273576;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #EEEEEE;
}

.darker-look a{
    color:#EEE;
}
/*Make this color darker than the other colors*/

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #EEEEEE;
    background-color: transparent;
}

/*Inspect elements and check hover property*/


.delete-form {
    display: inline;
}

.white-links{
    color:#fff;
}

/* Google Maps*/
#map{
    height: 400px;
    width: 100%;
}